GOQRS_ADDRESS="0.0.0.0:8080"

GOQRS_DB_HOST=localhost
GOQRS_DB_USER=postgres
GOQRS_DB_PASSWORD=
GOQRS_DB_NAME=
GOQRS_DB_PORT=5432

GOQRS_RSA_PRIVATE=certificates/id_rsa
GOQRS_RSA_PUBLIC=certificates/id_rsa.pub


# info,silent,warn,error
GOQRS_DB_LOGS=info 


# Valid time units are "ns", "us" (or "µs"), "ms", "s", "m", "h".
TOKEN_LIFE=730h

GOQRS_TEMPLATE_BASE_DIR=resource/templates/
GOQRS_DOCUMENTS_BASE_DIR=resource/documents/